<h3>New comments in dossier: <a href="{{ absolute_url(path('dossierItem', {'id': comment.dossier.id})) }}">{{ comment.dossier.title }}</a></h3>
<p>On {{ comment.createdDate|date('d/m/Y') }}, by {{ comment.author.username|capitalize }}.</p>

<div>
    {{comment.content|nl2br}}
</div>
